%% -*- erlang -*-
{erl_opts, [{src_dirs,["src"]}]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git",  "master"}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {tag,"1.4.2"}}},
    {riakpool, ".*", {git, "git://github.com/dweldon/riakpool.git", "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}}

]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
